
{% extends 'base.html'%}

{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center mb-4">
    <div class="col-6">
        <div class="card">
            <div class="card-body"> 
            <h1 class="text-center">Reset Your Password</h1>
            <form action="" method="POST" novalidate>
                {% csrf_token %}
                {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Send confirmation link</button>
            </form>
            </div>
        </div>
        </div>
    </div>
</div>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <ul>
                    <li><strong>First stop your cmd by ctrl+c </strong></li>
                    <li><strong>py manage.py shell</strong></li>
                    <li><strong>from django.contrib.auth.models import User</strong></li>
                    <li><strong>u = User.objects.get(username='Your username')</strong></li>
                    <li><strong>u.email = 'your confirmation email address'</strong></li>
                    <li><strong>u.save()</strong></li>
                    <li><strong>exit()</strong></li>
                    <li><strong>Again start your cmd (py manage.py runserver)</strong></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
